.Playground {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-md);
}

.PlaygroundColumns {
  display: flex;
  flex-direction: row;
  align-items: start;
  gap: var(--spacing-lg);
}

.PlaygroundFormHeader {
  position: sticky;
  top: 0;
}
