:root {
  /* colors */
  --color-primary: oklch(0.5 0.2 250);
  --color-border: oklch(0.8 0 90);

  /* font-size */
  --font-size-sm: 0.875rem;
  --font-size-md: 1rem;

  /* spacing */
  --scaling-factor: 8px;

  /* indent */
  --spacing-xs: calc(0.5 * var(--scaling-factor));
  --spacing-sm: calc(1 * var(--scaling-factor));
  --spacing-md: calc(1.5 * var(--scaling-factor));
  --spacing-lg: calc(3 * var(--scaling-factor));
  --spacing-xl: calc(6 * var(--scaling-factor));
}
